<div class="container p-4">
    <div class="card text-center">
        <h1 class="card-title">Lista de Trabajadores</h1>
            <a class="btn btn-primary" href="/trabajadores/add">
                Agregar
            </a>
    </div>
    <div class="row">
        {{#each trabajador}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{Id}}" target="_blank">
                        <h3 class="card-title text-uppercase">
                            {{Nombre}}
                        </h3>
                    </a>
                    <p class="m-2">Tipo Documento: {{TDocumento}}</p>
                    <p class="m-2">Numero: {{NDocumento}}</p>
                    <p class="m-2">Fecha de Nacimiento:</p>
                    <p class="m-2">{{FNacimiento}}</p>
                    <p class="m-2">Edad: {{Edad}}</p>
                    <a class="btn btn-danger" href="/trabajadores/delete/{{Id}}">
                        Borrar
                    </a>
                    <a class="btn btn-secondary" href="/trabajadores/edit/{{Id}}">
                        Modificar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Por ahora no tienes trabajadores.</p>
                <a href="/trabajadores/add">Crea uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>